* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* write your CSS here */

.body {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid red;
  height: 50vh;
  width: 30vh;
  border-radius: 10px;
}

.circle {
  border: 3px solid black;
  border-radius: 50%;
  height: 500px;
  width: 500px;
}

.circle-1 {
  position: absolute;
  margin-left: -100px;
  margin-top: -100px;
  top: -20vh;
  left: -15vw;
}

.circle-2 {
  position: absolute;
  margin-right: -100px;
  margin-bottom: -100px;
  bottom: -20vh;
  right: -15vw;
}
